.authorization {
  margin-top: 100px;
  &__inner {
    width: 100%;
    max-width: 548px;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 50px;
    @extend %kumbh-300;
    font-size: 48px;
    text-align: center;
    color: #fff;
  }
}

.form-auth {
  &__btns {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    margin-bottom: 20px;
  }
  &__text {
    @extend %kumbh-400;
    font-size: 12px;
    color: #999ca5;
    text-align: center;
  }
  &__item {
    margin-bottom: 20px;
  }
}
.auth-item {
  label {
    @extend %kumbh-400;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
  }
  input {
    margin-top: 6px;
    display: block;
    width: 100%;
    padding: 22px 30px;
    background: #02081e;
    border: 1px solid #33394d;
    border-radius: 10px;
    outline: none;
    transition: all 0.2s;
    font-size: 16px;
    color: #fff;
  }
  input::placeholder {
    @extend %kumbh-400;
    font-size: 16px;
    color: #fff;
  }
  input:focus {
    border-color: #f8c541;
  }
  &__info {
    margin-top: 10px;
    @extend %kumbh-400;
    font-size: 12px;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
  }
  &__link {
    color: #f8c541;
  }
}

@media (max-width: 768px) {
  .authorization {
    margin-top: 50px;
  }
  .authorization__title {
    margin-bottom: 20px;
    font-size: 36px;
  }

  .auth-item label {
    font-size: 14px;
  }

  .auth-item input {
    padding: 15px 30px;
  }

  .form-auth__btns {
    gap: 15px 0;
  }
}

@media (max-width: 576px) {
  .form-auth__btns {
    margin-top: 100px;
  }
}
