.authorization {
  margin-top: 100px;
  &__inner {
    width: 100%;
    max-width: 548px;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 50px;
    @extend %kumbh-300;
    font-size: 48px;
    text-align: center;
    color: #fff;
  }
}

.form-auth {
  &__btns {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    margin-bottom: 20px;
  }
  &__text {
    @extend %kumbh-400;
    font-size: 12px;
    color: #999ca5;
    text-align: center;
  }
  &__item {
    margin-bottom: 20px;
  }
}
.auth-item {
  label {
    @extend %kumbh-400;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
  }
  input {
    margin-top: 10px;
    display: block;
    width: 100%;
    padding: 22px 30px;
    background: #02081e;
    border: 1px solid #33394d;
    border-radius: 10px;
    outline: none;
    transition: all 0.2s;
    font-size: 16px;
    color: #fff;
  }
  input::placeholder {
    @extend %kumbh-400;
    font-size: 16px;
  }
  input:focus {
    border-color: #f8c541;
  }
  &__info {
    margin-top: 10px;
    @extend %kumbh-400;
    font-size: 12px;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
  }
  &__link {
    margin-left: 5px;
    color: #f8c541;
  }
}

.password-length {
  margin-top: 10px;
  font-size: 12px;
  color: #999ca5;
  &__title {
    @extend %kumbh-700;
  }
  &__text {
    margin-bottom: 10px;
  }
  &__items {
    display: flex;
    gap: 0 15px;
  }
  &__items span {
    flex-basis: 20%;
    height: 2px;
    background: #33394d;
  }
  &__items span.active {
    background: #10b981;
  }
}

.form-conditions {
  margin-bottom: 20px;
  display: flex;
  input[type="checkbox"] {
    @extend %checkbox-hidden;
  }
  label {
    cursor: pointer;
  }
  &__check {
    margin-right: 20px;
  }
  &__text {
    @extend %kumbh-400;
    font-size: 12px;
    color: #999ca5;
  }
  &__checkbox {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #33394d;
    border-radius: 10px;
  }

  .form-conditions__check label input:checked + .form-conditions__checkbox > svg {
    display: none;
  }
}

@media (max-width: 768px) {
  .authorization {
    margin-top: 50px;
  }
  .authorization__title {
    margin-bottom: 20px;
    font-size: 36px;
  }

  .auth-item label {
    font-size: 14px;
  }

  .auth-item input {
    padding: 15px 30px;
  }

  .form-auth__btns {
    gap: 15px 0;
  }

  .password-length {
    font-size: 10px;
  }

  .password-length__text {
    margin-bottom: 18px;
  }
  .password-length__items {
    gap: 0 10px;
  }
}

@media (max-width: 576px) {
  .form-auth__btns {
    margin-top: 100px;
  }

  .form-conditions {
    margin-bottom: 30px;
    
}

  .form-registration .form-auth__btns {
    margin-top: 0;
  }
}
