.footer {
  margin-top: 50px;
  margin-bottom: 50px;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    @extend %kumbh-300;
    font-size: 12px;
    color: #999ca5;
  }
  &__menu {
    margin-bottom: 25px;
  }
  &__menu-list {
    display: flex;
    gap: 0 15px;
  }
  &__menu-link {
    position: relative;
    color: inherit;
    padding-right: 15px;
  }
  &__menu-link:after {
    content: "|";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  &__menu-item:last-child &__menu-link:after {
    display: none;
  }
}

@media (max-width: 576px) {
  .footer {
    margin-top: 20px;
    margin-bottom: 20px;
}
  .footer__inner {
    font-size: 8px;
  }
  .footer__menu {
    margin-bottom: 10px;
  }
  .footer__menu-list {
    gap: 0 10px;
  }
  .footer__menu-link {
    position: relative;
    color: inherit;
    padding-right: 10px;
  }
}
