.header-top {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
.logo {
  width: 100%;
  max-width: 132px;
}

@media (max-width: 1400px) {
  .header-top__logo {
    max-width: 88px;
  }
}
