.top {
  position: relative;
  margin-top: 100px;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    margin-bottom: 42px;
    width: 100%;
    max-width: 570px;
    @extend %kumbh-300;
    font-size: 48px;
    text-align: center;
    color: #fff;
  }
  &__title a {
    @extend %kumbh-700;
    color: #f8c541;
  }
  &__items {
    display: flex;
    gap: 0 20px;
  }
  &__img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    max-width: 952px;
  }
}

.top-features {
  width: 100%;
  max-width: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__icon {
    margin-bottom: 20px;
    flex-shrink: 0;
    flex-basis: 60px;
  }
  
  &__text {
    @extend %kumbh-300;
    font-size: 20px;
    text-align: center;
    color: #999ca5;
    padding: 0 20px;
  }
  &__text span {
    @extend %kumbh-700;
  }
}

.top-text {
  margin-top: 10px;
  width: 100%;
  max-width: 527px;
  @extend %kumbh-300;
  font-size: 20px;
  text-align: center;
  color: #999ca5;
  display: flex;
  flex-direction: column;
  gap: 25px 0;
}

.top-text span {
  @extend %kumbh-700;
}

.top-slider {
  width: 100%;
  max-width: 1920px;
}

.top-slider .swiper-slide {
  display: flex;
  justify-content: center;
}

.top-slider .swiper-pagination {
  margin-top: 50px;
  margin-bottom: 50px;
  position: static;
}

.top-slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #171a2c;
  opacity: 1;
}

.top-slider .swiper-pagination-bullet-active {
  background: #f8c541;
}

@media (max-width: 1400px) {
  .top__img {
    max-width: 600px;
  }
}

@media (max-width: 1200px) {
  .top__img {
    display: none;
  }
}

@media (max-width: 992px) {
  .top__title {
    max-width: 540px;
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .top {
    margin-top: 50px;
  }
  .top__title {
    margin-bottom: 40px;
  }
  .top-text {
    margin-top: 0;
  }

  .top__items {
    flex-direction: column;
    gap: 20px 0;
  }

  .top-features {
    max-width: none;
    flex-direction: row;
    align-items: start;
  }
  .top-features__icon {
    margin-bottom: 0;
    margin-right: 15px;
    flex-basis: 40px;
  }

  .top-features__text {
    font-size: 16px;
    text-align: start;
    padding: 0;
  }

  .top-text {
    font-size: 16px;
    gap: 25px 0;
  }

  .top-slider .swiper-pagination {
    margin-top: 30px;
    margin-bottom: 30px;
    position: static;
  }
}

@media (max-width: 576px) {
  .top-features__icon img {
    width: 100%;
  }
}
