.header {
  position: relative;
  z-index: 5;
  background: #060d25;
  &__inner {
    padding-top: 55px;
    padding-bottom: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 75px;
    margin-left: 85px;
  }
}

.activity {
  display: flex;
  gap: 0 50px;
}
.activity-status {
  display: flex;
  align-items: center;
  @extend %kumbh-400;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  &__value {
    display: flex;
    align-items: center;
  }
  &__value span {
    margin-left: 10px;
    margin-right: 10px;
    color: #10b981;
  }
}

.activity-status.activity-status--inactive {
  .activity-status__value span {
    color: #999ca5;
  }

  .activity-status__icon svg circle {
    fill: #999ca5;
  }
}

.activity-user {
  display: flex;
  align-items: center;
  @extend %kumbh-400;
  font-size: 14px;
  text-transform: uppercase;
  color: #7b7b7b;
  &__icon {
    margin-right: 10px;
  }

  &__icon img {
    width: 38px;
  }
  &__text span {
    margin-left: 8px;
    @extend %kumbh-700;
    color: #fff;
  }
  & .activity-status {
    display: none;
  }
}

.panel-logo img {
  width: 90px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.menu {
  width: 284px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  &__link {
    display: flex;
    align-items: center;
    padding: 14px 20px 14px;
    border-radius: 10px;
    background: linear-gradient(135deg, #060d25 0%, #0f162e 100%);
    @extend %kumbh-400;
    font-size: 12px;
    text-transform: uppercase;
    color: #6e748b;
    transition: all 0.3s;
  }
  &__icon {
    margin-right: 10px;
  }

  &__icon svg path {
    transition: all 0.3s;
  }

  &__link:hover {
    @extend %kumbh-700;
    color: #f8c541;
    background: linear-gradient(135deg, #060d25 0%, #35322e 100%);
  }

  &__link:hover svg path {
    fill: #f8c541;
  }

  &__link--active {
    @extend %kumbh-700;
    color: #f8c541;
    background: linear-gradient(135deg, #060d25 0%, #35322e 100%);
    svg path {
      fill: #f8c541;
    }
  }
  &__link--logout:hover {
    color: #fff;
    background: linear-gradient(135deg, #060d25 0%, #3e0909 100%);
  }
}

@media (max-width: 1400px) {
  .header__inner {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .header__inner {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .panel-logo img {
    width: 55px;
  }
  .activity {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .header__inner {
    flex-wrap: wrap;
  }
  .header__inner.active {
    height: 94px;
  }

  .header__inner.active .activity {
    display: flex;
  }

  .header__inner.active .panel-logo {
    display: none;
  }
  .menu {
    width: 100%;
    margin: 30px 0;
  }

  .menu-list__link {
    padding: 15px 20px;
  }

  // fix

  .activity {
    flex-direction: column;
    order: -1;
    .activity-user {
      order: -1;
    }
  }
  .activity-user {
    align-items: flex-end;
  }
  .activity-status {
    display: none;
  }

  .activity-user .activity-status {
    display: flex;
  }

  .activity-user__icon {
    margin-bottom: 5px;
  }

  .activity-status__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .activity-status__icon svg {
    width: 25px;
    height: 25px;
  }

  .activity-user__wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
