.header {
  position: relative;
  z-index: 5;
  background: #060d25;
  &__inner {
    padding-top: 55px;
    padding-bottom: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 75px;
    margin-left: 85px;
  }
}

.activity {
  display: flex;
  gap: 0 50px;
}
.activity-status {
  display: flex;
  align-items: center;
  @extend %kumbh-400;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  &__value {
    display: flex;
    align-items: center;
  }
  &__value span {
    margin-left: 10px;
    margin-right: 10px;
    color: #10b981;
  }
}
.activity-user {
  display: flex;
  align-items: center;
  @extend %kumbh-400;
  font-size: 14px;
  text-transform: uppercase;
  color: #7b7b7b;
  &__icon {
    margin-right: 10px;
  }

  &__icon img {
    width: 38px;
  }
  &__text span {
    margin-left: 8px;
    @extend %kumbh-700;
    color: #fff;
  }
}

.panel-logo img {
  width: 90px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

@media (max-width: 1400px) {
  .header__inner {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .header__inner {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .panel-logo img {
    width: 55px;
  }
  .activity {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .header__inner {
    flex-wrap: wrap;
  }
  .header__inner.active {
    height: 195px;
    justify-content: flex-end;
  }

  .header__inner.active .activity {
    display: flex;
    flex-basis: 100%;
  }

  .header__inner.active .panel-logo {
    display: none;
  }

  .menu-list__link {
    padding: 15px 20px;
  }
}

@media (max-width: 768px) {
  .activity {
    flex-direction: column;
    gap: 20px 0;
  }

  .activity-user {
    order: -1;
  }
}
