.livetrades {
  margin-top: 50px;
  margin-bottom: 50px;
  &__title {
    margin-bottom: 20px;
  }
}

.livetrades-table {
  border: 1px solid #171a2c;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px 0;

  &__head {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(135deg, #060d25 0%, #0f162e 100%);
    border-radius: 10px;
  }
  &__title {
    @extend %kumbh-700;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    padding: 0 30px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    gap: 0 30px;
  }
  &__name {
    @extend %kumbh-400;
    color: #999ca5;
  }
  &__value {
    @extend %kumbh-700;
    color: #fff;
  }
  &__value--up {
    color: #10b981;
  }
  &__value--down {
    color: #F6455F
  }
}

.livetrades-table__icon.livetrades-table__icon--down {
  svg circle {
    fill: #F6455F
  }

}

@media (max-width: 992px) {
  .livetrades {
    margin-top: 20px;
  }
  .livetrades__title {
    margin-bottom: 10px;
  }

  .livetrades-table__title {
    font-size: 14px;
  }
  .livetrades-table {
    padding: 0;
    border: 0;
  }

  .livetrades-table__head {
    margin-bottom: 10px;
    padding: 10px 10px 10px 20px;
  }

  .livetrades-table__icon svg {
    width: 20px;
    height: 20px;
  }

  .livetrades-table__body {
    padding: 0 20px;
  }
  .livetrades-table__row {
    font-size: 14px;
  }
}
